@import '../../utils/style/colors.scss';

.dropdown {
    width: 100%;

    &__titleContainer {
        height: 47px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-primary;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 31px;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            height: 30px;
            margin-bottom: 20px;
        }
    }

    &__title {
        color: $color-secondary;
        margin: 0px;
        padding-left: 18px;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            font-size: 13px;
            padding-left: 12px;
        }
    }

    &__paragraph {
        position: relative;
        top: -45px;
        z-index: -1;
        font-size: 24px;
        background-color: $color-background-light;
        border-radius: 10px;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            font-size: 12px;
            font-weight: 400;
            padding-right: 5px;
            padding-bottom: 20px;
        }

        p {
            padding: 40px 18px 10px 18px;
        }

        ul {
            list-style-type: none;
            padding: 40px 18px 10px 18px;

            li {
                margin-bottom: 5px;
            }
        }
    }
}

.btnarrow {
    background-color: $color-primary;
    border: none;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;

    /* Mobile */
    @media only screen and (max-width: 767px) {
        margin-right: 0px;
    }

    &__img {

        /* Mobile */
        @media only screen and (max-width: 767px) {
            height: 18px;
            width: 18px;
        }
    }
}