@import '../../utils/style/colors.scss';

.slideshow {
    height: 100%;
    width: 100%;

    &__container {
        height: 415px;
        width: 100%;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        position: relative;
        margin: auto;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            height: 255px;
        }
    }

    &__btn {
        height: 100%;
        display: flex;
        align-items: center;
        border: none;
        background: none;
        position: absolute;
        top: 0px;
        cursor: pointer;

        &--forward {
            right: 0px;
        }

        &--hidden {
            display: none;
        }
    }


    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &__index {
        color: $color-secondary;
        position: absolute;
        bottom: 20px;
        right: 50%;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            visibility: hidden;
        }
    }
}

.slideshow__arrow {

    /* Tablet */
    @media only screen and (max-width: 1023px) {
        height: 48px;
        width: 48px;
    }

    /* Mobile */
    @media only screen and (max-width: 767px) {
        height: 24px;
        width: 24px;
    }
}