@import './utils/style/colors.scss';

/* Global fonts */
* {
    font-family: Montserrat;
    font-weight: 500;
    color: $color-primary;
    text-decoration: none;
}

h1 {
    font-size: 48px;
}

.globalcontainer {
    margin: 0px 100px 0px 100px;
    max-width: 1920px;
}