//Global color variables
/* General */
$color-primary: #FF6060;
$color-secondary: white;

//Global fonts
* {
    font-family: Montserrat;
    font-weight: 500;
    color: $color-primary;
    &:visited {
        text-decoration: none; //NE FONCTIONNE PAS
    }
}
h1 {
    font-size: 48px;

}
