@import '../../utils/style/colors.scss';

.dropdown {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;

    /* Mobile */
    @media only screen and (max-width: 767px) {
        width: 100%;
    }

    &__titleContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-secondary;
        background-color: $color-primary;
        overflow: hidden;
        border-radius: 10px;
        margin: 0px;
    }

    &__title {
        color: $color-secondary;
        margin: 0px;
        padding-left: 18px;
        padding-top: 6px;
        padding-bottom: 10px;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            font-size: 13px;
            padding-left: 12px;
            padding-top: 4px;
            padding-bottom: 8px;
        }
    }

    &__paragraph {
        position: relative;
        top: -20px;
        z-index: -1;
        background-color: $color-background-light;
        border-radius: 10px;
        margin: 0px;
        padding-left: 18px;
        padding-top: 45px;
        padding-bottom: 14px;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            font-size: 12px;
            font-weight: 400;
            padding-right: 5px;
        }

        ul {
            list-style-type: none;
            padding-left: 0px;

            li {
                margin-bottom: 5px;
            }
        }
    }
}

.btnarrow {
    background-color: $color-primary;
    border: none;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;

    /* Mobile */
    @media only screen and (max-width: 767px) {
        margin-right: 0px;
    }

    &__img {

        /* Mobile */
        @media only screen and (max-width: 767px) {
            height: 18px;
            width: 18px;
        }
    }
}