@import '../../utils/style/colors.scss';

.dropdown {
    margin: auto;

    &--about {
        width: 80%;
        font-size: 24px;
        margin-top: 50px;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            width: 100%;
            margin-top: 20px;
        }
    }

    &--accomodation {
        width: 100%;
        font-size: 18px;
        margin-top: 10px;
    }

    &__titleContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-secondary;
        background-color: $color-primary;
        border-radius: 10px;
        margin: 0px;
    }

    &__title {
        color: $color-secondary;
        margin: 0px;
        padding-left: 18px;
        padding-top: 6px;
        padding-bottom: 10px;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            font-size: 13px;
            padding-left: 12px;
            padding-top: 4px;
            padding-bottom: 8px;
        }
    }

    &__paragraph {
        position: relative;
        top: -20px;
        z-index: -1;
        background-color: $color-background-light;
        border-radius: 10px;
        margin: 0px;
        padding-left: 18px;
        padding-top: 45px;
        padding-bottom: 14px;
        margin-bottom: 20px;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 5px;
            padding-top: 35px;
            padding-right: 5px;
        }
    }
}

.btnarrow {
    background-color: $color-primary;
    border: none;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;

    /* Mobile */
    @media only screen and (max-width: 767px) {
        //MODIFIER TAILLE DES FLECHES
        height: 18px;
        width: 18px;
        margin-right: 10px;
    }
}