.accomodation {
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    /* Mobile */
    @media only screen and (max-width: 767px) {
        flex-direction: column;
    }

    &__container {
        width: 100%;
    }

    &__informationsContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            flex-direction: column;
            padding-bottom: 10px;
        }
    }

    &__titleContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__title {
        font-size: 36px;
        margin-bottom: 0px;
        margin-top: 0px;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            font-size: 18px;
        }
    }

    &__location {
        font-size: 18px;
        margin-top: 5px;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            font-size: 14px;
        }
    }

    &__aside {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            width: 98%;
            flex-direction: row-reverse;
            align-items: center;
        }
    }

    &__description {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-top: 0px;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            flex-direction: column;
        }
    }
}