@import '../../utils/style/colors.scss';

.bannerHome {
    height: 223px;
    width: auto;
    border-radius: 25px;
    overflow: hidden;
    /* Mobile */
    @media only screen and (max-width: 767px) {
        height: 111px;
    }
    &__title {
        color: $color-secondary;
        position: relative;
        top: 60px;
        text-align: center;
        /* Mobile */
        @media only screen and (max-width: 767px) {
            font-size: 24px;
            line-height: 24px;
            text-align: left;
        }
    }
    &__img {
        width : 100%;
        object-fit: cover; 
        position: relative;
        top: -495px;
        z-index: -1;
    }
}