@import '../../utils/style/colors.scss';

.banner__container--tall {

    /* Mobile */
    @media only screen and (max-width: 767px) {
        height: 223px;
    }
}

.dropdown {
    &__container {
        width: 82%;
        margin: 31px auto 150px auto;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            width: 100%;
            margin: 20px auto 140px auto;
        }
    }
}