.slideshow {
    &__container {
        height: 415px;
        width: 100%;
        max-width: 1240px;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        position: relative;
        margin: auto;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            height: 255px;
        }
    }

    &__btn {
        border: none;
        background: none;
        position: absolute;
        bottom: 40%;
        cursor: pointer;

        &--forward {
            right: 0px;
        }

        &--hidden {
            visibility: hidden;
        }
    }


    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }
}

.slideshow__arrow {

    /* Mobile */
    @media only screen and (max-width: 767px) {
        height: 24px;
        width: 24px;
    }

}