@import '../../utils/style/colors.scss';

.accomodationCard {
    height: 340px;
    min-width: 340px;
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    position: relative;

    /* Mobile */
    @media only screen and (max-width: 767px) {
        width: 100%;
        min-width: none;
        height: 255px;
    }

    /* Small Mobile */
    @media only screen and (max-width: 350px) {
        width: 100%;
        min-width: 250px;
        height: 230px;
    }

    &__gradient {
        height: 100%;
        width: 100%;
        display: flex;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        position: relative;
        bottom: 0px;
        z-index: +1;
    }

    &__title {
        height: 52px;
        width: 88%;
        color: $color-secondary;
        font-size: 18px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding-left: 20px;
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
        opacity: 0.5;
    }
}