@import '../../utils/style/colors.scss';

.bannerAboutUs {
    height: 223px;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    margin: auto;
    background-image: url('../../assets/background-about-us.webp');
    background-size: cover;
    background-position: center right;
    /* Mobile */
    @media only screen and (max-width: 767px) {
        height: 223px;
    }
}

.dropdown {
    width: 80%;
    font-size: 24px;
    margin: auto;
    margin-top: 50px;
    /* Mobile */
    @media only screen and (max-width: 767px) {
        width: 100%;
    }
    &__element {
        margin-bottom: 20px;
    }
}