.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    /* Mobile */
    @media only screen and (max-width: 767px) {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    &__logo {
        width: 210px;
        height: 68px;
        /* Mobile */
        @media only screen and (max-width: 767px) {
            width: 145px;
            height: 47px;
            }
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        /* mobile */
        @media only screen and (max-width: 767px) {
            width: 140px;
            height: 17px;
        }
    }
    &__link {
        width: 136px;
        height: 34px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 24px;
        &:visited {   //NE FONCTIONNE PAS
            text-decoration: none;
        }
        /* mobile */
        @media only screen and (max-width: 767px) {
            width: 70px;
            height: 17px;
            text-transform: uppercase;
            font-size: 12px;
        }
    }
}