@import '../../utils/style/colors.scss';

.banner__container {
    width: 100%;
    display: flex;
    margin: auto;

    &--short {

        /* Mobile */
        @media only screen and (max-width: 767px) {
            height: 111px;
        }
    }
}

.home__cardswrapper {
    background-color: $color-background-light;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    border-radius: 25px;
    padding: 50px;
    margin: 43px 0px;

    /* Mobile */
    @media only screen and (max-width: 767px) {
        background-color: white;
        gap: 20px;
        padding: 0px;
        margin: 20px 0px;
    }
}