@import '../../utils/style/colors.scss';

.footer {
    background-color: $color-background-dark;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

    &__logo {
        height: 40px;
        width: 122px;
        margin: auto;
    }
    &__paragraph {
        color: $color-secondary;
        margin: auto;
        font-size: 24px;
        line-height: 34px;
        padding-top: 20px;
        /* Mobile */
        @media only screen and (max-width: 767px) {
            font-size: 12px;
            line-height: 17.11px;
            }
    }
}