@import '../../utils/style/colors.scss';

.cardswrapperHome {
    background-color: $color-background-light;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    border-radius: 25px;
    padding: 60px;
    margin-top: 30px;
}

.homeCard {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    position: relative;

    /* Mobile */
    @media only screen and (max-width: 767px) {
        width: 335px;
        height: 255px;
    }

    &__title {
        height: 52px;
        width: 83%;
        color: $color-secondary;
        font-size: 18px;
        line-height: 26px;
        text-align: start;
        overflow: hidden;
        white-space: normal;
        position: absolute;
        bottom: 0px;
        left: 0px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 5px;
        z-index: 2;
    }

    &__img {
        object-fit: cover;
        position: absolute;
        bottom: -50%;
        right: -50%;
    }
}