.host {
    &__container {
        height: 60px;
        width: 180px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            height: 33px;
            width: 135px;
        }
    }

    &__name {
        height: 52px;
        width: 93px;
        font-size: 18px;
        text-align: right;
        margin-right: 1cap;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            height: 33px;
            width: 60px;
            font-size: 12px;
        }
    }

    &__img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        overflow: hidden;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            width: 32px;
            height: 32px;
        }


    }
}