@import './utils/style/colors.scss';

/* Global fonts */
* {
    font-family: Montserrat;
    font-weight: 500;
    color: $color-primary;
    text-decoration: none;
}

h1 {
    font-size: 48px;
}

.globalContainer {
    margin: 0px 100px;
    max-width: 1920px;

    /* Desktop */
    @media only screen and (min-width: 2100px) {
        margin: auto;
    }

    /* Mobile */
    @media only screen and (max-width: 767px) {
        margin: 0px 20px;
    }
}