@import '../../utils/style/colors.scss';

.banner {
    height: 223px;
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
    position: relative;

    /* Mobile */
    @media only screen and (max-width: 767px) {
        height: 100%;
        justify-content: flex-start;
    }

    &__title {
        color: $color-secondary;
        margin: 16px;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            width: 217px;
            font-size: 24px;
            text-align: left;
        }
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
        position: absolute;
        bottom: 0px;
        filter: brightness(70%);
    }
}