.error {
    margin-bottom: 160px;

    /* Mobile */
    @media only screen and (max-width: 767px) {
        margin-bottom: 200px;
    }

    &__title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 288px;
        font-weight: 700;
        margin-top: 169px;
        margin-bottom: 0px;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            font-size: 96px;
        }

    }

    &__paragraph {
        height: 51px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 36px;
        margin: 66px auto 0px auto;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            font-size: 18px;
            font-weight: 500;
            margin-top: 0px;
        }
    }

    &__link {
        height: 26px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        margin-top: 182px;
        text-decoration: underline;

        /* Mobile */
        @media only screen and (max-width: 767px) {
            font-size: 14px;
            margin-top: 133px;
        }
    }
}